@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
     background-color: rgb(248, 239, 228);
}

/*############################################*/
/* inicio do estilo peimeira */

.primeira{
    display: flex;
    margin: auto;
    margin-left: 40px;
    justify-content: center;
    margin-top: 30px;
    gap: 60px;
}

.consulta {
    margin-top: 70px;
    
}

.title h1 {
    font-size: 5rem;
    color: rgb(1, 83, 1);
    justify-content: center;

}

.title p {
    font-size: 1.3rem;
    margin-bottom: 30px;
}


.btn button {
    height: 50px;
    width: 200px;
    font-size: 1.4rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.8s;
    
}

.btn .agora{
    background-color: rgb(1, 83, 1);
    color: white;
    margin-right: 5px;
}

.btn .entender {
    color: rgb(1, 83, 1);
    border: 2px solid rgb(1, 83, 1);
}

.btn .agora:hover {
    background: none;
    border: 2px solid rgb(1, 83, 1);
    color: rgb(1, 83, 1)
}

.btn .entender:hover {
    background-color: rgb(1, 83, 1);
    color: white;
}

.imagem img{
    width: 400px;
    height: 600px;
    border-radius: 5px;
}

/*############################################*/
/* inicio do estilo segunda */

.segunda {
    background-color: rgb(74, 74, 74);
    height: 500px;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.seg {
    background-color: rgb(248, 239, 228);
    margin: 30px 30px 30px 30px;
    height: 450px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding-left: 30px;
}

.principal {
    font-size: 1.8rem;
    color: rgb(1, 83, 1);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.beneficios {
    width: 1000px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    gap: 50px;
}

.beneficios div {
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    padding-left: 10px;
    border-radius: 10px;
    border: 2px solid rgb(1, 83, 1);
    
}

.beneficios h2 {
    color: rgb(1, 83, 1);
    margin-bottom: 20px;
    font-size: 1.8rem;
    margin-top: 20px;
}

.beneficios p {
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;

}

/*############################################*/
/* inicio do estilo mapa */

.mapa {
    text-align: center;
    background-color: rgb(248, 239, 228);
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    display: none;
}

.mapa .bra h1 {
    color: rgb(1, 83, 1);
    text-align: center;
    font-size: 1.8rem;
    margin-top: 10px;
}

.mapa .país {
    background-color: rgb(74, 74, 74);
    margin: 30px 30px 30px 30px;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 230px));
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(rgb(29, 29, 29, 0.8), rgb(29, 29, 29, 0.8)), url(img/brasil.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mapa .país img {
    width: 100;
    height: 50px;
   
}

.mapa .estados {
    margin: 5px 5px 5px 5px;
    text-align: center;
    color: white;
}

/*############################################*/
/* inicio do estilo exibir */

.exibir {
    text-align: center;
    background-color: rgb(248, 239, 228);
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    display: block;
}

/*############################################*/
/* inicio do estilo Contados */

.contatos {
    width: 100%;
    background-color: rgb(0, 31, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: white;
    padding-bottom: 1rem;
}

.contatos h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.contatos-secao {
    width: 650px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.contatos-secao i {
    margin-right: 1rem;
}

.contatos-secao div {
    cursor: pointer;
    transition: all 200ms ease-in;
}

/* fim do estilo Contados */

/* inicio do estilo footer */
footer {
    height: 25px;
    background-color: black;
    color: white;
    font-size: 0.8rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
/* fim do estilo footer */

/* CONFIGURAÇÕES DE TELA DESKTOP */
@media screen and (min-width: 992px){
   
    
}


/* CONFIGURAÇÕES DO TABLET */
@media screen and (min-width: 768px) and (max-width: 992px){

    .seg {
            width: 900px;
            align-items: center;
            justify-content: center;
        }
    
        .principal {
            font-size: 1.8rem;
        }
    
        .beneficios {
            width: 800px;
        }
    
        .beneficios h2 {
            font-size: 1.5rem;
        }
    
        .beneficios p {
            font-size: 1.3rem;
        }
}

@media (max-width: 768px){ 


    .primeira h1{
        font-size: 2.5rem;
        margin-bottom: 5px;
    }

    .primeira p {
        font-size: 1.3rem;
    }

    .primeira .btn {
        flex-direction: column;
    
    }

    .primeira .btn button{
        margin-bottom: 10px;
    }

    .primeira img{
        width: 300px;
        height: 500px;
        margin-right: 20px;
    }

/* ######################################### */

    .segunda{
        height: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 1px;


    }

    .seg {
            width: 600px;
            height: max-content;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-bottom: 20px;
        }
    
        .principal {
            font-size: 1.3rem;
        }
    
        .beneficios {
            width: 500px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
        }
    
        .beneficios div{
            width: 400px;
        }

        .beneficios h2 {
            font-size: 1.9rem;
        }
    
        .beneficios p {
            font-size: 1.5rem;
        }

        .contatos h3 {
            font-size: 1.5rem;
        }

        .contatos .contatos-secao {
            font-size: 1rem;
            display: flex;
            padding-left: 30px;
            padding-right: 30px;
        }

        footer {
            font-size: 0.7rem;
            
        }
}

/* telas menores celular*/
@media (max-width: 395px) {

    .primeira {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    .peimeira .imagem {
        width: 335px;
        align-items: center;
        justify-content: center;
        padding: auto;
        margin-top: 0px;
    }

    .primeira img {
        width: 336px;
        height: 500px;
        margin: auto;
    }

    .consulta{
        margin: auto;
        align-items: center;
        justify-content: center;

    }

    .primeira .consulta .title {
        width: 300px;
        margin: auto;
        
    }

    .primeira h1 {
        font-size: 1.8rem;
        margin-bottom: 5px;
        padding-top: 2px;
    }

    .primeira p {
        font-size: 1rem;
    }

    .primeira .btn {
        width: 300px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .primeira .btn button {
    
        width: 280px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
    }

    

    /* ######################################### */

    .segunda {
        height: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 1px;


    }

    .seg {
        width: 320px;
        margin: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 1px;
        margin-bottom: 10px;
    }

    .principal {
        width: 250px;
        font-size: 1.3rem;
        align-items: center;
        justify-content: center;

        
    }

    .beneficios {
        width: 250px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 5px;
        padding: auto;
    }

    .beneficios div {
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 130px;
        margin-top: 0px;
        padding-top: 2px;
        margin-bottom: 2px;
    }

    .beneficios h2 {
        font-size: 1.3rem;
    }

    .beneficios p {
        font-size: 1rem;
    }


/*################contatos################*/
    .contatos h3 {
        font-size: 1.3rem;
        margin-bottom: 2px;
    }

    .contatos .contatos-secao {
        width: 350px;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer {
        flex-direction: column;
        height: 40px;
        font-size: 0.8rem;
        gap: 0;
        font-style: normal;
    }

    .exibir img{
        justify-content: center;
        width: 150px;
        
    }
    
}

